body {
    background-color: brown;
    color: palegoldenrod;
}

h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
}

#content-div {
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}

#user-input {
    height: 30px;
    width: 300px;
    font-size: 20px;
    background-color:palegoldenrod;
    color: darkgreen;
    font-weight: bold;
}

#generate-sentence-button {
    font-size: 20px;
    color: darkgreen;
}

#clear-sentence-button {
    font-size: 20px;
    color: darkgreen;
}

#display-sentence-div {
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
}